@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body{
  font-family: "Alef Hebrew",
               “Helvetica Neue”,
               Helvetica,
               Arial,
               sans-serif;
  background: rgb(235, 229, 229);
}

ul {
  list-style-type: none;
}
li {
  list-style-type: none;
}

.inputBox {
position:relative;
right:5px;
margin-bottom: 0px !important;
bottom: 0px;
z-index: 10 !important;
width: 20em !important;
}

#course{
  border: 1px solid;
  border-radius: 12px;
  padding: 8px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  width: 95%;
}

.kdamim {
margin-right: 2em;
user-select:text  !important;
text-align: center;
position: absolute !important;
margin-top:3em;
}

.box {
display: inline-block;
width: max-content;
background: rgb(192, 190, 190);
padding: 1em;
border-radius: 0.3em;
margin-bottom: 2px;
z-index: 1;
position: relative;
box-shadow: 0 2px 4px 2px rgba(80, 79, 79, 0.5);
}

/* on click styling */

.arrow {
cursor: pointer;
}

.arrow::before { 
content: "\25C4";
color: black;
display: inline-block;
}

.check-box::before {
content: "\25BC"; 
}

.nested {
display: none;
}

.active {
display: block;
}

/* tree styles */
ul.tree, ul.tree ul {
list-style: none;
padding: 0; 
padding-right: 1em;
margin-top: 0px;
} 
ul.tree ul {
margin-right: 25px; 
}

ul.tree li {
margin: 0;
padding: 0;
border-right:2px solid rgb(28, 27, 27);  
}   

ul.tree li span {
margin-top: 0.7em;
margin-bottom: 0;
}

ul.tree li:last-child {
border-right:none;
}


ul.tree li:before {
position:relative;
top:-0.3em;
height:1em;
width:12px;
color:white;
border-bottom:2px solid rgb(28, 27, 27);
content:"";
display:inline-block;
}

ul.tree li:last-child:before {
border-right:2px solid rgb(0, 0, 0);   
height: 2.3em;
}  

/* hover over tooltips */

.tooltip {
position: relative;
display: inline-block;
border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
bottom: 150%;
left: 50%;
margin-left: -60px;
}

.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
visibility: visible;
}

.tooltiptext 
{   
  -webkit-user-select: none; /* Safari 3.1+ */ 
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; 
}

/* slider */
.switch {
position: relative;
display: inline-block;
width: 30px;
height: 17px;
margin-top:5px;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
border-radius: 17px;
}

.slider.round:before {
border-radius: 50%;
}

/* info button which opens the Modal Window */
.circle {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 1px;
  background: transparent;
  border: 3px solid #000;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  position:absolute;
  left: 6px;
  top: 6px;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  /*left: 0; */
  right: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgb(192, 190, 190);
  border-radius: 0.8em;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* override in mobile */
  /*height: 20%;*/
  max-height: fit-content;
}

/* The Close Button */
.close {
  color: black;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Mobile compatibility */
@media screen and (max-device-width: 480px) {

  .modal
  {
    width: 100%;
  }

  .modal-content {
    width: 70%;
  }

  .kdamim {
      display:inline-block !important;	
      margin-right:20px;
    }
  
    #showKdamim {
      position:relative;
      margin-top:20px;
    }
    .inputBox {
      width:1em;
      max-width: 240px;
    }
    #courseName
    {
      display: none;
    }
    .box
    {
      max-width: 240px;
    }
    
    ul.tree li:last-child::before
    {
      height: 3.7em;
    }
    body {
      width:480px;
    }
  }